# Local release overrides (do not commit secrets)
MACOS_CODESIGN_IDENTITY=Developer ID Application: Huge Shop Pty Ltd (Q3TXW887NM)
APPLE_TEAM_ID=Q3TXW887NM
APPLE_ID=support@hugeshop.com
MACOS_NOTARIZE=1
APPLE_NOTARIZE_KEYCHAIN_PROFILE=AC_NOTARY
# APPLE_APP_SPECIFIC_PASSWORD=
# WINDOWS_CERTIFICATE_PASSWORD=
